.form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#outer_cont{
    margin-left: 5%;
    margin-right: 5%;
}

.submit-button {
    margin: 1rem;
}

.text-area {
    margin: 1rem;
}

.progress-bar {
background-color: #00000000;
}

/* .CircularProgressbar-text{

} */