
#dataset_full_page{
    width:74vw;
    justify-content: center;
    position: relative;
    margin-top: 150px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

/*.headerGroup {
    display: flex;
    align-items: center;
    margin-right: 10%;
    margin-left: 10%;
}

.cardLayout {
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    margin: 1% 10%;
}

.cardTitle{
    font-size: large;
}

.cardContent{
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.bottomInfo{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.bottomCard {
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    margin: 1%;
    width: 42%;
}*/

#full_matrix_table{
    overflow: auto;
}


#table_edit_title{
    display: inline-block;
    float: left;
}

#table_edit_btn_content{
    display: inline-block;
    float: right;
}

#control_buttons_dataset{
    position: absolute;
    right: 0;
    margin-right: 2px;
    top: 0;
}

#dataset_name_holder{
    position: absolute;
    top: 40px;
    left: 0;
    margin-left: 2px;
}

#dataset_table_and_stats_row {
    margin-top: 2%;
    margin-left: 1px;
    margin-right: 1px;
    display: flex;
}

/* flex help stretch, equal columns, here 1 col */
#dataset_genes_list{
    flex: 1;
}

#dataset_view_table {
    margin-top: 2%;
}

#title_tage{
    color: gray;
}

#text_title{
    margin: 0;
}

.subtitle_tag, .subtitle_content{
    color: gray;
    font-size:medium;
    margin: 0;
    padding: 0;
}

#tabs_container{
    position: absolute;
    min-width: 100%;
    top: 120px;
    left: 0;
    margin-left: 0;
    justify-content: center;
}

#tab_info{
    margin-top: 3%;
    margin-left: 0;
    min-width: 74vw;
    width: 74vw;
    max-width: 74vw;
    left: 0;
    justify-content: center;
}

#tabs_row{
    width: 100%;
    left: 0;
    right: 0;
    justify-content: center;
}

.dataset_info_block{
    margin-top: 2%;
}
.dataset_subheader{
    font-weight: bold;
}

.line_div_category_header_content{
    margin-top: 0px;
}

.dataset_subcontent{
    color: black;
    margin-bottom: 3%;
}

#gene_list_search{
    padding-left: 10px;
    padding-right: 10px;
}

#gene_list_reset{
    padding-left: 10px;
    padding-right: 10px;
}

#gene_table_area{
    width: 100%;
    text-align: center;
}

#column_gene_search_input{
    display: inline-block;    
}

.gene_input_txt, .gene_search_btn, #gene_list_reset{
    display: inline;
}
