
html, body{
    border: 0;
    margin: 0;
    padding: 0;
}


/*.home_page_body{
    position: relative;
    min-width: 100vw; 
    min-height: 100vh; 
    overflow: hidden;
    background-color: black;
    top: 0;
    left: 0;
}*/

#full_dataset_search_page{
    position: relative;
    min-width: 100vw; 
    min-height: 100vh; 
    top: 0;
    left: 0;
}

#dataset_search_page_content{
    width:78vw;
    justify-content: center;
    min-height: 100%;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    position: relative;
}


#control_buttons_dataset_search{
    right: 0;
    top: 0;
    float: right;
    margin-top: 60px;
    margin-left: 0px;
    padding-left: 0;
    margin-right: 0;
    padding-right: 0;
}

#bookmarked_datasets_container{

    display: inline-block;

    min-width: 100%;
    max-width: 100%;

    justify-content: center;

    margin-left: auto;
    padding-left: 0px;

    margin-right: auto;
    padding-right: 0px;

    margin-top: 50px;

    
}

/*#title_landing_info{
    position: absolute;
    margin: auto;
    width: 100%;
    top: 0;
    margin-top: 150px;
}

#title_website{
    margin-top: 10%;
}

#landing_page_navbar{
    background-color: transparent;
    z-index: 1;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 0;
}

#landing_page_nav_text{
    color: white;
}

#landing_page_link_from_home{
    text-decoration: none;
    color: white
}*/
