body{
    min-height: 100vh;
}

#gene_page_full{
    width:74vw;
    justify-content: center;
    min-height: 100vh;
    position: relative;
    top: 0;
}

#control_buttons_gene_page{
    position: relative;
    right: 0;
    top: 0;
    float: right;
    margin-top: 130px;
}

#gene_name_box{
    position: relative;
    margin-top: 0px;
    left: 0;
    top: 0;
    float: left;
    min-width: 100%;
    margin-left: 0px;
}

.codeCard{
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    padding: 5px;
    display: inline;
}

#table_options_outer{
    display: flex;
    justify-content: center;
}

#checkbox_filter{
    position: absolute;
    overflow: auto;
    bottom: 0;
    top: 0;
    left: 0;
    width: 25%;
    float: left;
}

#table_content{
    max-width: 75%;
    right: 0%;
    overflow-x: auto;
    left: 25%;
}

#patient_table_area{
    padding: 2%;
    width: 95;
    max-width: 95%;
    overflow: auto;
}

#graph_filter{
    overflow: auto;
    padding: 1%;
}

#tabs_container_content{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    margin-top: 280px;
    left: 0;
    float: left;
    justify-content: center;
}

#gene_info_box{
    left: 0;
    top: 0;
    float: left;
    margin-top: 0px;
    margin-top: 50px;
    min-width: 100%;
}

#graph_gene_box{
    position: relative;
    
}

#display_filter_patients_gene{
    position: relative;
}

