/** {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin-top: 0px;
}*/

/*

*/


html, body, body > .fullPage {
    
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

p {
    margin: 0px;
    padding: 0px;
}

.outer_bar {
    margin: 0;
    background-color: rgb(80, 123, 139);
    overflow: hidden;
    height: 2%;
}

.bar_group{
    margin-left: 2%;
}

.bar_item {
    float: left;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    display: inline;
    margin: 1rem;
    background-color: rgb(80, 123, 139);
}

.bar_link {
    text-decoration: none;
    color: white;
}

#logo_header{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(31, 68, 99);
    height: 40px;
}

#logo_item {
    float: right;
}

#logo {
    height: 40px;
}

.title {
    color: white;
    margin-top: 200px;
    margin-left: 10%;
    font-size: 70px;
    display: inline-block;
}

.title_caption {
    color: white;
    margin-left: 10%;
    font-size: 20px;
    display: inline-block;
}

.button_group{
    margin-left: 10%;
}

.button_element {
    background-color: white;
    color: black;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    margin-left: 2%;
    transition-duration: 0.4s;
}

.button_element:hover {
    background-color: rgb(122, 194, 223); /* Green */
 }
