.slider-container {
    width: 1000px;
    height: 500px;
    overflow: hidden;
    border: 5px solid black;
    position: relative;
  }
  
  .slider-innerContainer {
    transition: left 0.8s ease-out;
    display: flex;
    position: relative;
    height: 100%;
  }
  .slider-innerContainer > * {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
  }
  .slider-innerContainer > * img {
    width: 100%;
    height: 100%;
  }
  
  .slider-dots {
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    color: red;
  }
  
  .slider-dots div {
    cursor: pointer;
    width: 40px;
    height: 40px;
  }

