
#navbar_element_link_home{
    color: black;
}

#navbar_element_link_about{
    color: black;
}

#navbar_element_link_contact_us{
    color: black;
}

#navbar_element_link_top li a:hover {
    background: rgb(235, 235, 235);
}

#navbar_element_link_front{
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
}

#navigation_bar_top{
    position: fixed;
    height: 70px;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1000;
}

#notification_dropdown_menu_outer{
    width: fit-content;
    margin: 0;
    position: fixed;
    top: 70px;
    right: 0;
    left: auto;
    overflow: auto;
}

#drop_down_login_user{
    color: black;
}

#user_account_drop_down a:hover {
    background: rgb(235, 235, 235);
}

#user_dropdown_menu_outer{
    width: fit-content;
    margin: 0;
    position: fixed;
    right: 0;
    top: 70px;
    left: auto;
    overflow: auto;
}
