
html, body{
    border: 0;
    margin: 0;
    padding: 0;
}

.home_page_body{
    position: relative;
    min-width: 100vw; 
    min-height: 100vh; 
    overflow: hidden;
    background-color: black;
    top: 0;
    left: 0;
}

#title_landing_info{
    position: fixed;
    margin: auto;
    min-width: 100%;
    bottom: 0;
    top: 0;
    overflow: auto;
}

#title_website{
    margin-top: 2%;
}

#landing_page_navbar{
    background-color: transparent;
    z-index: 1;
    position: absolute;
    margin: auto;
    width: 100%;
    top: 0;
}

#landing_page_nav_text{
    color: white;
}

#landing_page_link_from_home{
    text-decoration: none;
    color: white
}

#title_info_contents{
    min-height: fit-content;
    min-width: 100%;
    top: 0;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
}
