.home {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h2 {
    font-size: 4rem;
}

.search {
    width: 50%;
    display: flex;
}

.search-result>li {
    font-size: 1.5rem;
    margin: 2rem;
    color: blue;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
}