.home {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

h2 {
    font-size: 4rem;
}

.search {
    width: 50%;
    display: flex;
}

ul.search-result {
    font-size: 1.5rem;
    color: blue;
    list-style-type: none;
    display: flex;
    text-align: left;
}