
#navbar_element_link_home{
    color: black;
}

#navbar_element_link_about{
    color: black;
}

#navbar_element_link_contact_us{
    color: black;
}

#navbar_element_link_top li a:hover {
    background: rgb(216, 216, 216);
  }


/*
.outer_bar {
    margin: 0;
    background-color: rgb(216, 216, 216);
    overflow: hidden;
    height: 2%;
}

.bar_group{
    margin-left: 2%;
}

.bar_item {
    float: left;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    display: inline;
    margin: 1rem;
    background-color: rgb(216, 216, 216);
}

.bar_item_right {
    float: right;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    display: inline;
    margin: 1rem;
    background-color: rgb(216, 216, 216);
}

.bar_link {
    text-decoration: none;
    color: black;
}

#logo_header{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(216, 216, 216);
    height: 40px;
}

#logo_item {
    float: right;
}

#logo {
    height: 40px;
} 


.title {
    color: black;
    margin-top: 200px;
    margin-left: 10%;
    font-size: 70px;
    display: inline-block;
}

.title_caption {
    color: black;
    margin-left: 10%;
    font-size: 20px;
    display: inline-block;
}


.button_group{
    margin-left: 10%;
}

.button_element {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px 60px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;
    margin-left: 2%;
    transition-duration: 0.4s;
}
*/
/* Green */
/*
.button_element:hover {
    background-color: rgb(216, 216, 216); 
 }

 .services-submenu {
    position: absolute;
    top: 67px;
    list-style: none;
    text-align: start;
    right: 0;
  }
  
  .services-submenu li {
    background:  rgb(216, 216, 216);
    cursor: pointer;
  }
  
  .services-submenu li a:hover {
    background: rgb(216, 216, 216);
  }
  
  .services-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    text-decoration: none;
    color: black;
    padding: 16px;
    cursor: pointer;
  }

  .submenu-link {
    color: black;
    text-decoration: none;
  }
  */